:root {
    --bg-color: #c7c7c7;
    --navbar-color: #005ac0;
    --btn-border-color: #ffb342;
    --auth-div-one: #1966be;
    --auth-div-two: #F5F5F5;
    --color-white: white;
    --color-black: black;
    --color-green: rgb(1, 185, 1);
    --color-yellow: #ffb342;
    --color-blue-light: #8bbef8;
}

body {
    background-color: var(--bg-color);
}


/*
|--------------------------------------------------------------------------
| Login - Auth
|--------------------------------------------------------------------------
*/


/**  Extra small devices **/

@media only screen and (max-width: 768px) {
    .container.bg-auth-div {
        background-color: var(--color-white);
        border-radius: 10px;
        margin-top: 3em;
    }
}


/**  Large devices **/

@media only screen and (min-width: 992px) {
    .container.bg-auth-div {
        background-color: var(--color-white);
        border-radius: 10px;
    }
    .row {
        margin-top: 1em;
    }
    .btn-user-session {
        background-color: var(--navbar-color);
        border: 2 px solid var(--color-yellow);
        color: var(--color-yellow);
        border-radius: 10 px;
        width: 50%;
        margin: 0 auto;
        display: flow-root;
    }
}


/**  Extra large devices **/

@media only screen and (min-width: 1200px) {
    .container.bg-auth-div {
        background-color: var(--color-white);
        border-radius: 10px;
        margin-top: 5%;
    }
    .btn-user-session {
        background-color: var(--navbar-color);
        border: 2 px solid var(--color-yellow);
        color: var(--color-yellow);
        border-radius: 10 px;
        width: 50%;
        margin: 0 auto;
        display: flow-root;
    }
}

.auth-nav {
    background-color: var(--navbar-color);
    width: 100%;
    height: 70px;
    display: flex;
    color: var(--color-white);
}

img.auth-nav-img {
    width: 45px;
    margin-left: 1em;
}

.auth-footer {
    position: fixed;
    background-color: var(--navbar-color);
    width: 100%;
    color: var(--color-white);
    bottom: 0;
}

.auth-eslogan-div {
    padding-top: 3em;
}

.auth-esk-div-one {
    background-color: var(--auth-div-one);
    color: var(--color-black);
    border-radius: 5px 0px 0px 5px;
}

.auth-esk-div-two {
    background-color: var(--auth-div-two);
    color: var(--color-black);
    border-radius: 0px 5px 5px 0px;
    height: 500px;
}

.col-lg-12.col-md-12.col-sm-12.pt-2.pb-2.flex {
    display: flex;
    margin-bottom: 1em;
}

.col-lg-12.col-md-12.col-sm-12.pt-2.pb-2.flex div,
.auth-email-div {
    padding: 0.5em;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.auth-nav-btn {
    float: right;
    margin-right: 3em;
}

.email-validate-ok,
.username-validate-ok {
    color: var(--color-green);
}

.btn-register,
.btn-login {
    background-color: var(--navbar-color);
    border: 2px solid var(--btn-border-color);
    color: var(--btn-border-color);
    border-radius: 10px;
}

.btn-register:hover,
.btn-login:hover {
    color: var(--color-white);
}

.btn-login-action,
.btn-regist-action,
.btn-make-ask {
    background-color: var(--navbar-color);
    border: 2px solid var(--btn-border-color);
    color: var(--color-white);
    border-radius: 10px;
}

.btn-login-action:hover,
.btn-regist-action:hover,
.btn-make-ask:hover {
    color: var(--color-yellow);
}

a.navbar-brand {
    font-family: 'Permanent Marker';
    color: var(--color-white);
    margin-left: 1em;
    font-size: 2em;
}

.auth-eslogan-div h3 {
    font-family: 'Permanent Marker';
    color: var(--color-white);
    font-size: 2.5em;
}

.auth-eslogan-content-div {
    width: fit-content;
    color: var(--color-white);
    height: 4em;
    font-size: 1.5em;
    padding-left: 4em;
    padding-top: 1em;
}

.float-right {
    float: right;
}


/*
|--------------------------------------------------------------------------
| Home / Inicio
|--------------------------------------------------------------------------
*/

.navbar-nav li {
    padding-right: 2em;
}

.navbar-nav li a {
    color: var(--color-white);
    margin-top: 0.5em;
    font-weight: bold;
}

.navbar-nav li a:hover {
    color: var(--color-yellow);
}

.navbar-nav li:active,
.navbar-nav li a:focus {
    color: var(--color-yellow);
}

.home-content-div {
    background-color: var(--color-white);
    color: var(--color-black);
    margin-top: 1.5em;
    border-radius: 10px;
    padding: 2em;
}

.user-actions li a {
    color: var(--color-black);
    height: max-content;
}

.user-actions li a:hover {
    color: var(--navbar-color);
}

.btn-user-session:hover {
    color: var(--color-white);
}

ul.dropdown-menu.user-actions li {
    padding: 0 !important;
}

ul.dropdown-menu.user-actions.show {
    margin-left: 2em;
    margin-top: 0.7em;
    width: 90%;
    border: 2px solid var(--navbar-color);
}

.online {
    color: var(--color-green);
}

.text-user-welcome {
    color: var(--navbar-color);
}

.post-list-div {
    padding-left: 2em;
    margin: 0 auto;
}

.post-list-contenedor {
    display: grid;
}

.post-list {
    background-color: var(--color-blue-light);
    color: var(--color-black);
    width: 100%;
    border-radius: 7px;
    padding: 1em;
    display: flex;
}

.post-respuestas,
.post-votos {
    border: 2px solid var(--navbar-color);
    border-radius: 7px;
    width: 70px;
    display: grid;
    text-align: center;
    padding: 0.5em;
    margin-right: 0.5em;
}

.post-body {
    padding: 0.5em;
    margin-left: 0.5em;
    display: grid;
}

.post-tags {
    margin-right: 0.5em;
    background-color: #c7c7c7;
    padding: 0.3em;
    border-radius: 7px;
    font-size: 13px;
}

.post-date {
    font-size: 15px;
    text-align: right;
}


/*
|--------------------------------------------------------------------------
| Post Modulo
|--------------------------------------------------------------------------
*/

.btn-create-post {
    background-color: var(--navbar-color);
    border: 2px solid var(--btn-border-color);
    color: var(--color-white);
    border-radius: 10px;
}

.btn-create-post:hover {
    color: var(--color-yellow);
}

.create-post-tips {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: var(--color-blue-light);
    padding: 2em;
}

.create-post-div {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: var(--color-blue-light);
    padding: 2em;
}


/**  Extra small devices **/

@media only screen and (max-width: 768px) {}


/**  Large devices **/

@media only screen and (min-width: 992) {}


/**  Extra large devices **/

@media only screen and (min-width: 1200px) {}